<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="data:,">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Editor</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Babylon.js -->
        <script src="https://preview.babylonjs.com/serializers/babylonjs.glTF2Serializer.js"></script>

<!-- links to the latest version of the minified glTF serializer -->
<script src="https://preview.babylonjs.com/serializers/babylonjs.glTF2Serializer.min.js"></script>
        <script src="https://code.jquery.com/pep/0.4.2/pep.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js"></script>
        <script src="https://preview.babylonjs.com/ammo.js"></script>
        <script src="https://preview.babylonjs.com/cannon.js"></script>
        <script src="https://preview.babylonjs.com/Oimo.js"></script>
        <script src="https://preview.babylonjs.com/gltf_validator.js"></script>
        <script src="https://preview.babylonjs.com/earcut.min.js"></script>
        <script src="https://preview.babylonjs.com/babylon.js"></script>
        <script src="https://preview.babylonjs.com/inspector/babylon.inspector.bundle.js"></script>
        <script src="https://preview.babylonjs.com/materialsLibrary/babylonjs.materials.min.js"></script>
        <script src="https://preview.babylonjs.com/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>
        <script src="https://preview.babylonjs.com/postProcessesLibrary/babylonjs.postProcess.min.js"></script>
        <script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.js"></script>
        <script src="https://preview.babylonjs.com/serializers/babylonjs.serializers.min.js"></script>
        <script src="https://preview.babylonjs.com/gui/babylon.gui.min.js"></script>
<!-- links to the latest version of the glTF serializer -->

        <style>
            html, body {
                overflow: hidden;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #renderCanvas {
                width: 100%;
                height: 100%;
                touch-action: none;
            }
            .navbar {

                position: fixed;
                width: 100%;
            }
            .btn{
                padding-left: 3px!important;
            }
            .spacer{
                min-width: 5px;
            }
            .bg-light {
                background-color: white!important;
            }
        </style>
    </head>
<body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Import .glb mesh</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>

        </button>


      </div>
      <div class="modal-body">



    <form action="/import" method=post enctype=multipart/form-data>
      <input type=file name=file>
      <input type=submit value="Load asset">
    </form>





            <div id = "tree"></div>
      </div>

    </div>
  </div>
</div>


<!-- Modal2 -->
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Asset Browser</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>

        </button>


      </div>
      <div class="modal-body">



{% for object in objects %}
 <div class="card">
    <div class="card-body">
      <h4 class="card-title">{{ object }}</h4>
          <button value="Refresh Page" onClick='BABYLON.SceneLoader.Append("", "static/{{object}}", scene,);'>Load Mesh Data</button>


    </div>
  </div>
<br>
{% endfor %}






      </div>

    </div>
  </div>
</div>


<script>
    $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>


<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed">
    <a class="navbar-brand" href="#"><strong>Asset</strong><light>Editor</light></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <button value="Refresh Page" onClick="window.location.reload();"><i class="fa fa-file"></i></button>
      <div class="spacer"></div>
<button type="button"  data-toggle="modal" data-target="#exampleModal"><i class="fa fa-folder-open"></i></button>
        <div class="spacer"></div>
<button type="button"  data-toggle="modal" data-target="#exampleModal1"><i class="fa fa-cube"></i></button>
      <div class="spacer"></div>
            <button value="Refresh Page" onClick="a=true"><i class="fa fa-save"></i></button>
      <div class="spacer"></div>
       <button value="f Page" onClick="b=true"><i class="fa fa-save"></i></button>
            <div class="spacer"></div>
    </div>
  </div>
</nav>



    <canvas id="renderCanvas"></canvas>

    <script>
        var canvas = document.getElementById("renderCanvas");

        var createScene = function () {

            var scene = new BABYLON.Scene(engine);
            var camera = new BABYLON.FreeCamera("camera1", new BABYLON.Vector3(0, 5, 20), scene);
            camera.setTarget(BABYLON.Vector3.Zero());
            camera.attachControl(canvas, true);



            var light = new BABYLON.HemisphericLight("light1", new BABYLON.Vector3(0, 1, 0), scene);
            light.intensity = 0.9;
            scene.clearColor = new BABYLON.Color3(0,0,0);





 // Keyboard events
    var inputMap ={};
    scene.actionManager = new BABYLON.ActionManager(scene);
    scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyDownTrigger, function (evt) {
        inputMap[evt.sourceEvent.key] = evt.sourceEvent.type == "keydown";
    }));
    scene.actionManager.registerAction(new BABYLON.ExecuteCodeAction(BABYLON.ActionManager.OnKeyUpTrigger, function (evt) {
        inputMap[evt.sourceEvent.key] = evt.sourceEvent.type == "keydown";
    }));
                // loader
            var loader = new BABYLON.AssetsManager(scene);
            var utilLayer = new BABYLON.UtilityLayerRenderer(scene);
            var grid = new BABYLON.GridMaterial("grid", scene);
	        grid.gridRatio = 0.1;
	        grid.majorUnitFrequency = 10;
	        grid.minorUnitVisibility = 0.1;

	        var ground = BABYLON.MeshBuilder.CreateGround("ground", {width: 50, height: 50}, scene);
	        ground.material = grid;
            BABYLON.SceneLoader.Append("static/", "{{file}}", scene,);

            var gizmoManager = new BABYLON.GizmoManager(scene);




















        var selected = null;

            scene.onPointerObservable.add(function(evt){
                if(evt.pickInfo.hit && evt.pickInfo.pickedMesh && evt.pickInfo.pickedMesh != ground && evt.event.button === 0){
                    selected = evt.pickInfo.pickedMesh;




                }
                else{
                h1.removeMesh(selected)
                selected= null;


                }


            }, BABYLON.PointerEventTypes.POINTERUP);


clearGizmoOnEmptyPointerEvent: true;






    scene.onBeforeRenderObservable.add(()=>{
        if(inputMap["t"]){
            var t = true;
            if(t){

                    gizmoManager.positionGizmoEnabled = true;
                    gizmoManager.gizmos.positionGizmo.snapDistance = 0.1;
                    gizmoManager.rotationGizmoEnabled = false;
                    gizmoManager.scaleGizmoEnabled = false;


            }
            else {

            }



        }

        if(inputMap["r"]){
            var r = true;
            if(r){
                gizmoManager.scaleGizmoEnabled = false;
                gizmoManager.positionGizmoEnabled = false;
                gizmoManager.rotationGizmoEnabled = true;
                gizmoManager.gizmos.rotationGizmo.snapDistance = 0;
            }
            else {

            }

        }
        if(inputMap["e"]){
            var s = true;
            if(s){
            gizmoManager.positionGizmoEnabled = false;
            gizmoManager.rotationGizmoEnabled = false;
                gizmoManager.scaleGizmoEnabled = true;
                gizmoManager.gizmos.scaleGizmo.snapDistance = 0;
            }
            else {

            }

        }
        if(inputMap["c"]){
            var c = true;
            if(c){

                selected.clone();

            }
            else {
            }

        }
        if(inputMap["x"]){
            var x = true;
            if(x){
                selected.dispose();
            }
            else {

            }

        }

        if(inputMap["i"]){
         camera.detachControl(canvas)

        }
        if(inputMap["p"]){
         camera.attachControl(canvas)
         b = true;

        }
        if(inputMap["b"]){
        b= true;


        }
        else{
            a = false;
        }
    })



   var advancedTexture = BABYLON.GUI.AdvancedDynamicTexture.CreateFullscreenUI("UI");

    var button1 = BABYLON.GUI.Button.CreateSimpleButton("but1", "screenshot");
    button1.width = "150px"
    button1.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_LEFT;
    button1.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_BOTTOM;
    button1.height = "40px";
    button1.color = "black";
    button1.cornerRadius = 0;
    button1.background = "white";
    button1.onPointerUpObservable.add(function() {

//    BABYLON.Tools.CreateScreenshot(engine, camera, { width: 1366, height: 768 },create_pic);﻿


    BABYLON.GLTF2Export.GLBAsync(scene, 'test').then(gltf => {
        var blob = new Blob ( [ //pass in here ], { type : "octet/stream" } );
         var xhr = new XMLHttpRequest();
            xhr.open("POST", "/glb", true);
            xhr.setRequestHeader('Content-Type', 'application/octet-stream');
            xhr.send(blob)



    });











//function create_pic(base64Image) {
 //   base64Image = base64Image.replace("data:image/png;base64,", "");
   // var xhr = new XMLHttpRequest();
   //         xhr.open("POST", "/export", true);
        //    xhr.setRequestHeader('Content-Type', 'application/octet-stream');
         //   xhr.send(base64Image);

//}








    });


    advancedTexture.addControl(button1);











engine.hideLoadingUI();
loader.load();

return scene




        };





__createScene = createScene;





        var engine = new BABYLON.Engine(canvas, true, { preserveDrawingBuffer: true, stencil: true });
        var scene = createScene();
        a = false;

        engine.runRenderLoop(function () {

            if (scene) {


            if (a) {

            var serializedScene = BABYLON.SceneSerializer.Serialize(scene);
            var strScene = JSON.stringify(serializedScene);
            console.log(strScene);
            var blob = new Blob ( [ strScene ], { type : "octet/stream" } );
		    var xhr = new XMLHttpRequest();
            xhr.open("POST", "/save", true);
            xhr.setRequestHeader('Content-Type', 'application/octet-stream');
            xhr.send(blob);

            xhr.onload = function() {
            console.log("HELLO")
            console.log(this.responseText);
            var data = JSON.parse(this.responseText);
            console.log(data);




            }



	}


                scene.render();


            }
        });









        // Resize
        window.addEventListener("resize", function () {
            engine.resize();
        });










    </script>





<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>

    </script>



</body>
</html>
